<html>
<head>
<title>Buy now</title>
<link rel="stylesheet" href="style.css">
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
</head>
<body style="margin-left:400px; margin-top:100px; font-size:20px;">
    <!-- <form>
    <input  name="cmd" value="_xclick" id="id_cmd"><input  name="charset" value="utf-8" id="id_charset"><input  name="currency_code" value="USD" id="id_currency_code"><input  name="no_shipping" value="1" id="id_no_shipping"><input  name="business" value="sb-11jeo18056449@business.example.com" id="id_business"><input  name="amount" value="56" id="id_amount"><input  name="item_name" value="Product 1" id="id_item_name"><input  name="invoice" value="3d359164-43fe-4a93-99fe-8de03b48571f" id="id_invoice"><input  name="notify_url" value="http://127.0.0.1:8000/paypal/" id="id_notify_url">
    </form> -->
{% if messages%}

{% for message in messages%}
{{ message }}
{% endfor %}

{% endif %}
{{form.render}}

</body>
</html>

